fastapi==0.110.0
uvicorn==0.27.1
sqlalchemy==2.0.28
psycopg2-binary==2.9.9
langchain==0.1.13
langchain-groq==0.1.0
langchain-community==0.0.29
sentence-transformers==2.5.1
faiss-cpu==1.13.2
PyPDF2==3.0.1
python-docx==1.1.0
python-multipart==0.0.9
cloudinary==1.39.0
python-jose[cryptography]==3.3.0

bcrypt==3.2.2
pydantic==2.6.4
email-validator>=2.0.0
pydantic-settings==2.2.1
alembic==1.13.1
